<!-- Contenido del componente -->
<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h1 class="card-title">Productos</h1>
    </div>
    <div class="card-body">

      <div class="row mb-3">
        <!-- Columna para el campo de búsqueda -->
        <div class="col-md-3">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Buscar por nombre"
              [(ngModel)]="filtroNombre" (input)="aplicarFiltro()" />
          </div>
        </div>

        <!-- Columna para los botones Limpiar Filtro y Crear Producto -->
        <div class="col-md-4 d-flex justify-content-between align-items-end">
          <div class="form-group">
            <button type="button" class="btn btn-dark" (click)="limpiarFiltro()">Limpiar Filtro</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="abrirDialogoNuevoProducto()">Crear Producto</button>
          </div>
          <button mat-mini-fab color="primary" aria-label="" (click)="generarPDF()" matTooltip="Imprimir listado">
            <mat-icon>print</mat-icon>
          </button>
        </div>

        <!-- Columna para el menú desplegable de opciones de filtrado -->
        <!-- <div class="col-md-4 col-lg-2">
                  <div class="form-group">
                    <label for="productos">Mostrar por:</label>
                    <select class="form-select" id="productos" aria-label="Default select example">
                      <option selected>-</option>
                      <option value="1">Mas vendido</option>
                      <option value="2">Menos vendido</option>
                      <option value="3">Mas barato</option>
                      <option value="4">Mas caro</option>
                    </select>
                  </div>
                </div> -->
      </div>

      <div class="table-responsive table-container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Cod. Prod.</th>
              <th scope="col">Nombre</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Reserva</th>
              <th scope="col">Precio venta</th>
              <th scope="col">Medida</th>
              <th scope="col">Categoria</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let producto of productos; let i = index" >
              <td [class.resaltar-rojo]="producto.cantidad <= producto.reserva">{{ producto.id }}</td>
              <td [class.resaltar-rojo]="producto.cantidad <= producto.reserva">{{ producto.nombre }}</td>
              <td [class.resaltar-rojo]="producto.cantidad <= producto.reserva">{{ producto.cantidad }}</td>
              <td [class.resaltar-rojo]="producto.cantidad <= producto.reserva">{{ producto.reserva }}</td>
              <td [class.resaltar-rojo]="producto.cantidad <= producto.reserva">{{ producto.precio_venta | currency}}</td>
              <td [class.resaltar-rojo]="producto.cantidad <= producto.reserva">{{ producto.medida }}</td>
              <td [class.resaltar-rojo]="producto.cantidad <= producto.reserva">{{ producto.id_categoria }}</td>
              <td class="p-1" [class.resaltar-rojo]="producto.cantidad <= producto.reserva">
                <div class="d-flex">
                  <button mat-mini-fab color="primary" aria-label="" class="m-1 p-1"  color="warn"
                    (click)="eliminarProducto(producto.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-mini-fab color="primary" aria-label="" class="m-1 p-1"
                    (click)="editarProducto(producto.id.toString())">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>  
    </div>
  </div>