|
<mat-card>
  <mat-card-header>
    <mat-card-title>Iniciar Sesión</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="login()" [formGroup]="loginForm">
      <mat-form-field>
        <input matInput placeholder="Correo electrónico" formControlName="email" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña" formControlName="password" required />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        Iniciar Sesión
      </button>
    </form>
  </mat-card-content>
</mat-card>
