<div class="container">

  <div class="row">
    <div class="col-md-4 mb-4 align-items-center justify-content-center">
      <div class="card text-white bg-primary text-center" routerLink="/navigation/ingresos_historial">
        <div class="card-body">
          <mat-icon class="icon">shopping_bag</mat-icon>
          <h1 class="card-title">Historial de compras</h1>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 mb-4 align-items-center justify-content-center">
      <div class="card text-white bg-secondary text-center" routerLink="/navigation/salidas_historial">
        <div class="card-body">
          <mat-icon class="icon">sell</mat-icon>
          <h1 class="card-title">Historial de ventas</h1>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4 align-items-center justify-content-center">
      <div class="card text-white bg-success" routerLink="/navigation/productos_top">
        <div class="card-body text-center">
          <mat-icon class="icon">inventory_2</mat-icon>
          <h1 class="card-title">Top Productos</h1>
        </div>
      </div>
    </div>
  </div>
  
</div>