<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
      <h2 class="card-title mb-0">Productos Más Vendidos</h2>
      <div>
        <button mat-mini-fab color="primary" aria-label="" (click)="generarPDF()" matTooltip="Imprimir listado">
          <mat-icon>print</mat-icon>
        </button>
      </div>
    </div>    
    <div class="card-body">
      <ul class="list-group">
        <li *ngFor="let producto of topProductos; let i = index" class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <span class="mr-3">{{ i + 1 }}.</span>
              <span class="ml-3">{{ producto.producto.nombre }}</span>
            </div>
            <span>{{ producto.cantidad_vendida }} unidades vendidas</span>
            <!-- Agrega una coronita solo para el primer producto -->
            
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
